@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
    height: auto;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    background-color: #f8fafc;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e8f0;
}

.left_navigation {
    width: 20%;
    min-height: calc(100vh - 80px);
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid #e2e8f0;
}

.left_navigation_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_navigation button {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.project_container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.project_container button {
    height: 48px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    border: none;
    border-radius: 6px;
}

.left_navigation h1 {
    margin: 0px;
}

/* Create project modal */
.create_project_modal {
    position: absolute;
    height: auto;
    width: auto;
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create_project_modal h1 {
    margin: 0px;
}

.create_project_modal input {
    height: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
}

/* Utility Classes */
.sep {
    width: 100%;
    background-color: #e2e8f0;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.active {
    background-color: green !important;
}

.inactive {
    background-color: #e2e8f0;
}
