@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
    height: auto;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    background-color: #f8fafc;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    z-index: 0;
    overflow: hidden;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e2e8f0;
}

.left_navigation {
    width: 20%;
    min-height: calc(100vh - 80px);
    background-color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid #e2e8f0;
}

.left_navigation_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_navigation button {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.project_container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.project_container button {
    height: 48px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    border: none;
    border-radius: 6px;
}

.left_navigation h1 {
    margin: 0px;
}

.main_container {
    height: calc(100vh - 80px);
}

/* Modal Background */
.modal_background {
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

/* Create project modal */
.create_project_modal {
    position: absolute;
    height: auto;
    width: auto;
    min-width: 400px;
    background-color: white;
    padding: 30px 20px 30px 20px;
    display: none;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1001;
}

.create_project_modal h1 {
    margin: 0px;
}

.create_project_modal input {
    height: 30px;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 18px;
    padding-left: 6px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid #d1d5db;
}

.create_project_modal input:focus {
    outline: none;
}

.create_project_button {
    height: 40px;
    background-color: transparent;
    border: none;
    background-color: #f1f5f9;
    border: 1px solid #cbd5e1;
    color: #1f2937;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 16px;
    font-weight: bold;
}

.create_project_button:hover {
    background-color: #e2e8f0; /* slightly darker on hover */
    border-color: #94a3b8;
}

/* Utility Classes */
.sep {
    width: 100%;
    background-color: #e2e8f0;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.display_flex {
    display: flex;
}

.display_none {
    display: none;
}

.project_button {
    margin-top: 5px;
    margin-bottom: 5px;
}

.active {
    background-color: green !important;
}

.inactive {
    background-color: #e2e8f0;
}

.close_popup_btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create_project_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
